.card {
    list-style: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 51px 63px;
    backdrop-filter: blur(120px);
    transition: opacity .3s;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card:nth-of-type(2) {
    border-bottom-left-radius: 16px;
}
.card:nth-of-type(3) {
    border-top-right-radius: 16px;
}
.card:nth-of-type(4) {
    border-top-left-radius: 16px;
}
.card:hover{
    opacity: 1;
}
.card__number {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 110%;
}

.card:nth-of-type(odd) .card__number,
.card:nth-of-type(odd) .card__title,
.card:nth-of-type(odd) .card__text
 {
    text-align: right;
    margin-left: auto;
}

.card:nth-of-type(even) .card__number,
.card:nth-of-type(even) .card__title,
.card:nth-of-type(even) .card__text {
    margin-right: auto;
    text-align: left;
}

.card__title {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 110%;
    padding-top: 24px;
}
.card__text {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 140%;
}

@media screen and (max-width:768px) {
    .card {
        opacity: 1;
        align-items: center;
        padding: 50px 62px;
        border: 1px solid #ffffff;
        border-bottom-right-radius: 0;
        border-radius: 16px;
    }
    .card:nth-of-type(odd) .card__number,
    .card:nth-of-type(odd) .card__title,
    .card:nth-of-type(odd) .card__text
    {
        text-align: center;
        margin-left: 0;
}

    .card:nth-of-type(even) .card__number,
    .card:nth-of-type(even) .card__title,
    .card:nth-of-type(even) .card__text 
    {
        text-align: center;
        margin-right: 0;
}
    .card:nth-of-type(2) {
        border-bottom-left-radius: 0px;
        border-radius: 16px;
    }
    .card:nth-of-type(3) {
        border-top-right-radius: 0px;
        border-radius: 16px;
    }
    .card:nth-of-type(4) {
        border-top-left-radius: 0px;
        border-radius: 16px;
    }
}