:root {
  --background: #000000;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-instrument-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 140px;
  line-height: 98%;
  font-weight: 500;
}
@media screen and (max-width:1024px) {
  h1 {
      font-size: 75px;
  }
}

@media screen and (max-width:768px) {
  h1 {
      font-size: 75px;
  }
}
@media screen and (max-width:375px) {
  h1 {
      font-size: 55px;
  }
}