.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 120px;
}
.portfolio__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio__hover {
    position: relative;
    min-height: 552px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -9px 10px 60px 0px #FFFFFF40 inset;
    backdrop-filter: blur(24px)
}

.portfolio__hover-img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.portfolio__hover-text {
    color: #f1f1f1;
    font-size: 56px;
    font-weight: 500;
    line-height: 110%;
    transform-origin: center;
    transform: rotate(-30deg);
    width: 292px;
    text-transform: uppercase;
    text-align: center;
}
.portfolio__description {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.portfolio__description-text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
}
.portfolio__description-list {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:1024px) {
    .portfolio {
        margin-bottom: 80px;
    }
}

@media screen and (max-width:768px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
    }
    .portfolio__info-title {
        text-align: center;
    }
    .portfolio__description {
        gap: 40px;
    }
}
