.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 120px;
}
.portfolio__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.portfolio__info-title {
    color: #f1f1f1;
    font-size: 80px;
    font-weight: 500;
    line-height: 110%;
}
.portfolio__hover {
    min-height: 552px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio__hover-text {
    color: #f1f1f1;
    font-size: 56px;
    font-weight: 500;
    line-height: 110%;
    transform-origin: center;
    transform: rotate(-30deg);
    width: 292px;
    text-transform: uppercase;
    text-align: center;
}
.portfolio__description {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.portfolio__description-text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
}
.portfolio__description-list {
    display: flex;
    flex-direction: column;
}