.footer {
    background-image: url(/images/footer-background.png);
    background-position: bottom;
}
.footer__top {
    display: flex;
    gap: 140px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    border-top: 1px solid #F1F1F133;
    padding-top: 24px;
    padding-bottom: 120px;
}
.footer__top-logo {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    color: #f1f1f1;
    margin-left: auto;
}
.footer__center {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding-bottom: 120px;
}
.footer__center-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 110%;
    max-width: 654px;
}
.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.footer__bottom-text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .footer__center-title {
        font-size: 57px;
    }
    .footer {
        background-size: contain;
    }
    .footer__top {
        gap: 100px;
    }
}

@media screen and (max-width: 768px) {
    .footer__center-title {
        font-size: 37px;
    }
    .footer {
        background-repeat: no-repeat;
        background-position: top;
    }
    .footer__top {
        gap: 30px;
    }
}
@media screen and (max-width:375px) {
    .footer {
        background-position: center;
        background-size: 315px;
    }
    .footer__top-logo {
        margin-left: 0;
        font-size: 16px;
    }
    .footer__top {
        font-size: 8px;
        gap: 16px;
    }
}
